<div [formGroup]="form" class="course-details-form">
  <!-- INPUT mat-form-field -->
  <!-- title -->
  <mat-form-field floatLabel="auto">
    <!-- label e input -->
    <mat-label>Course title</mat-label>
    <input matInput placeholder="Course title" formControlName="title" #title />

    <!-- Hint -->
    <mat-hint align="end">{{ title.value.length }} / 60</mat-hint>

    <!-- Gestione errori -->
    @if (courseTitle.errors?.required) {
    <mat-error>Title is required</mat-error>}
    <!--  -->
    @else if (courseTitle.errors?.minlength) {
    <mat-error>A minimum length of 5 characters is required</mat-error>
    }
    <!--  -->
    @else if (courseTitle.errors?.maxlength) {
    <mat-error>A maximum length of 60 characters is required</mat-error>
    }
  </mat-form-field>

  <!-- RADIO BUTTON mat-radio-group -->
  <!--  courseType -->
  <mat-radio-group class="course-type" formControlName="courseType">
    <mat-radio-button value="free">Free</mat-radio-button>
    <mat-radio-button value="premium">Premium</mat-radio-button>
  </mat-radio-group>

  <!-- SELECT DROPDOWN -->
  <!-- category -->
  <mat-form-field appearance="fill">
    <mat-label>Select a category</mat-label>
    <mat-select formControlName="category" placeholder="Select category">
      <mat-option>None</mat-option>
      <mat-option value="BEGINNER">Beginner</mat-option>
      <mat-option value="INTERMEDIATE">Intermediate</mat-option>
      <mat-option value="ADVANCED">Advanced</mat-option>
    </mat-select>

    <mat-error *ngIf="category.errors?.required"
      >Category is required</mat-error
    >
  </mat-form-field>

  <!-- DATEPICKER -->
  <!-- releasedAt -->
  <mat-form-field appearance="fill">
    <mat-label>Release date</mat-label>
    <input
      matInput
      formControlName="releasedAt"
      placeholder="Release date"
      [matDatepicker]="releasedAtPicker"
    />
    <mat-datepicker-toggle matSuffix [for]="releasedAtPicker">
    </mat-datepicker-toggle>
    <mat-datepicker #releasedAtPicker [dateClass]="dateClass"> </mat-datepicker>

    <mat-error *ngIf="releasedAt.errors?.required">
      A released date is required
    </mat-error>
  </mat-form-field>

  <!-- CHECK BOX -->
  <!-- downloadsAllowed -->
  <mat-checkbox color="primary" formControlName="downloadsAllowed">
    Downloads allowed?
  </mat-checkbox>

  <!-- TEXT AREA -->
  <!-- longDescription -->
  <!-- una text area material funziona in un mat-form-field, ci settiamo l'appearance -->
  <mat-form-field appearance="outline">
    <!-- è una text area html, ci si aggiunge la direttiva matInput, va linkata al formcontrol -->
    <!-- per fare in modo che la text area si adatti alla lunghezza del testo contenuto si utilizza la direttiva cdkTextareaAutosize (non funziona setta altezza textarea il doppio del testo se viene passato un valore di defaul, se non passo niente funziona) -->
    <textarea
      matInput
      placeholder="Description"
      formControlName="longDescription"
      cdkTextareaAutosize
    ></textarea>

    @if (longDescription.errors?.required) {
    <mat-error>A description is required</mat-error>
    }
    <!--  -->
    @else if (longDescription.errors?.minlength) {
    <mat-error>A minimum length of 3 characters is required</mat-error>
    }
  </mat-form-field>
</div>
