<div [formGroup]="form" class="course-details-form">
  <!-- INPUT mat-form-field -->
  <!-- title -->
  <mat-form-field floatLabel="auto">
    <!-- label e input -->
    <mat-label>Course title</mat-label>
    <input matInput placeholder="Course title" formControlName="title" #title />

    <!-- Hint -->
    <mat-hint align="end">{{ title.value.length }} / 60</mat-hint>

    <!-- Gestione errori -->
    @if (courseTitle.errors?.required) {
    <mat-error>Title is required</mat-error>}
    <!--  -->
    @else if (courseTitle.errors?.minlength) {
    <mat-error>A minimum length of 5 characters is required</mat-error>
    }
    <!--  -->
    @else if (courseTitle.errors?.maxlength) {
    <mat-error>A maximum length of 60 characters is required</mat-error>
    }
  </mat-form-field>

  <!-- RADIO BUTTON mat-radio-group -->
  <!--  courseType -->
  <mat-radio-group class="course-type" formControlName="courseType">
    <!-- aggiungiamo i radio button con il value che devono ritornare -->
    <!-- un mat-radio-button può essere disabilitato [disabled]="true" -->
    <!-- <mat-radio-button [disabled]="true" value="free">Free</mat-radio-button> -->
    <mat-radio-button value="free">Free</mat-radio-button>
    <mat-radio-button value="premium">Premium</mat-radio-button>
  </mat-radio-group>
</div>
