<div class="course">
  <h2>{{ course?.description }}</h2>

  <img
    class="course-thumbnail mat-mdc-elevation-specific mat-elevation-z8"
    [src]="course?.iconUrl"
  />
</div>

<!-- DATA TABLE -->
<!-- una table html con direttiva mat-table, la direttiva [dataSource]="proprietà_coi_dati" ci permette di fetchare i dati da mostrare nella tabella sottofrma di array -->
<table mat-table class="lessons-table" [dataSource]="lessons">
  <!-- in un ng-container definiamo le 2 parti che devono formare ogni singola colonna: l'header e la parte con le celle -->
  <!-- la direttiva matColumnDef='nome_colonna' indica la colonna -->
  <ng-container matColumnDef="seqNo">
    <!-- l'header ha la direttiva mat-header-cell e la direttiva angular *matHeaderCellDef, vanno messe tutte e 2 -->
    <th mat-header-cell *matHeaderCellDef>Seq. No.</th>
    <!-- ora va definita la cella, direttiva mat-cell e *matCellDef-->
    <!-- per far capire ad angular dove prendere il dato creiamo una let con un nome che rappresenta l'oggetto all'interno del dataSource che ha le sue proprietà -->
    <!-- il dataSource è un array contenenti tanti oggetti, ogni oggetto formerà una riga composta da tante celle quante sono le colonne che vogliamo  -->
    <!-- per il seqNo utilizziamo la proprietà seqNo dell'oggetto presente nell'array lessons -->
    <td mat-cell *matCellDef="let lesson">{{ lesson.seqNo }}</td>
  </ng-container>

  <!-- creo le altre 2 colonne, ne indico l'header ed il valore della cella -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let lesson">{{ lesson.description }}</td>
  </ng-container>

  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef>Duration</th>
    <td class="duration-cell" mat-cell *matCellDef="let lesson">
      {{ lesson.duration }}
    </td>
  </ng-container>

  <!-- definiamo la riga dell'header, direttive mat-header-row e *matHeaderRowDef -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <!-- definiamo la riga, direttive mat-row per il css e *matRowDef per la logica, cioè definiamo cosa deve essere passato al click e quali sono le colonne che vanno renderizzate -->
  <tr mat-row *matRowDef="let lesson; columns: displayedColumns"></tr>
</table>
