<div class="courses-panel">
  <div class="header">
    <h2 class="title">All Courses</h2>

    <!-- il modo nativo di mostrare tooltip consiste nell'aggiungere l'attributo title="messaggio da mostrare" ad un elemento e questo viene visualizzato quando ci si posiziona col mouse sull'elemento -->
    <!-- <button mat-mini-fab routerLink="/add-new-course" title="Create a course"> -->
    <!-- il meccanismo di tooltip di material permette di configurare la tooltip-->
    <!-- si utilizza la direttiva matTooltip="testo da mostrare", se la metto fra quadre posso passarlo dinamicamente [matTooltip]="proprietà o metodo nel ts" -->
    <!-- per determinarne la posizione matTooltipPosition, left, right, above, below. la posizione viene rispettata se c'è abbastanza spazio per mostrare la tooltip, ad esempio se c'è la toolbar con qualche elemento al suo interno e metto come valore above la tooltip sarà mostrata sotto -->
    <!-- la direttiva [matTooltipShowDelay]="millisecondi" permette di settare un ritardo in millisecondi nel mostrare la tooltip -->
    <!-- la direttiva [matTooltipHideDelay]="millisecondi" permette di settare un ritardo nel nascondere la tooltip una volta che si è tolto il mouse da sopra l'elemento -->
    <!-- la direttiva [matTooltipDisabled]="true" ci permette di abilitare o disabilitare la tooltip, accetta un booleano true è disabiltata, false è abilitata -->
    <button
      mat-mini-fab
      routerLink="/add-new-course"
      matTooltip="Create a course"
      matTooltipPosition="below"
      [matTooltipShowDelay]="2000"
      [matTooltipHideDelay]="2000"
      [matTooltipDisabled]="false"
    >
      <mat-icon class="add-course-btn">add</mat-icon>
    </button>
  </div>

  <mat-tab-group>
    <mat-tab label="Beginners">
      <courses-card-list
        [courses]="beginnerCourses$ | async"
      ></courses-card-list>
    </mat-tab>
    <mat-tab label="Advanced">
      <courses-card-list
        [courses]="advancedCourses$ | async"
      ></courses-card-list>
    </mat-tab>
  </mat-tab-group>
</div>
